In [2]:
import pandas as pd
a = ["A01", "A02", "A03", "A04", "A05"]
b = ["201501", "201502", "201503", "201504","201505"]
c = ["100", "200", "300", "400", "500"]
my_dict = dict(col1=a, col2=b, col3=c)
testdf = pd.DataFrame(my_dict)
testdf

  col1    col2 col3
0  A01  201501  100
1  A02  201502  200
2  A03  201503  300
3  A04  201504  400
4  A05  201505  500

In [3]:
testdf[testdf["col3"].isnull()]

Empty DataFrame
Columns: [col1, col2, col3]
Index: []