# 이동평균 함수 rolling

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
customerData = pd.read_csv("./dataset/customerdata.csv", encoding='ms949')

In [5]:
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

## 이동평균 구간 정의

In [6]:
order =5
import math
suborder = math.floor(order/2)
suborder

2

## 연산

In [19]:
customerData["TEST"]=customerData["PRODUCTAGE"].rolling(window=5, center=False, min_periods=1).mean()
customerData.head(10)

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,1.679181
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,2.180602
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,2.523135
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,2.117351
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.184612
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,2.406109
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,2.049705
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,1.921030
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.155029
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,2.266986

In [21]:
customerData["TEST"]=customerData["PRODUCTAGE"].rolling(window=5, center=True, min_periods=1).mean()
customerData.head(10)

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2.523135
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,2.117351
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,2.184612
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,2.406109
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.049705
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,1.921030
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,2.155029
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,2.266986
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.332377
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,2.530702

In [22]:
customerData["TEST"]=customerData["PRODUCTAGE"].rolling(window=5, center=True, min_periods=2).mean()
customerData.head(10)

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,TEST
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2.523135
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,2.117351
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,2.184612
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,2.406109
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,2.049705
5,B16849,3755.263391,2,4.7,2.786665,Sleeping-dog,1.921030
6,B18816,3213.911446,2,6.4,0.900000,Early-bird,2.155029
7,C10639,3516.500000,2,5.2,2.564830,Big-Screen-lover,2.266986
8,C12717,3732.900000,2,5.7,2.069995,Big-Screen-lover,2.332377
9,C15050,4020.173425,2,4.9,3.013440,Sleeping-dog,2.530702

In [ ]:
rolling