# 한글이 있는 파일을 읽거나 저장할때는 인코딩 필요

## encoding = 'ms949'

In [1]:
# 현재 작업 위치
pwd

'D:\\python_working\\Python_Working'

In [2]:
import pandas as pd

In [5]:
csvFile = pd.read_csv("./dataset/encoding_test.csv", encoding='ms949')

In [8]:
csvFile.head()

    이름  성별     영문
0  홍길동   남   hong
1  남상복   여    nam

In [ ]:
# 컬럼명 재정의
customerData.colums

In [ ]:
# CSV 파일로 저장
customerData.to_csv(".csv", index=true, header=true, encoding='ms949')